*{
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: sans-serif, Arial, Helvetica,;
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
}
:root{
  --white: #F5F6F1;
  --blue: #77A8AC;
  --black: #0F1F1E;
  --yellow: rgb(246, 240, 231);
  --loading-color:#dcdcdc;
  --box-shadow: 0px 2px 10px rgba(128, 128, 128, 0.352);
  --mb-font-headers-biggest: 1.75rem;  
  --mb-font-headers: 1.313rem;
  --mb-font-text: 1rem;

  --dk-font-headers-biggest: 2.313rem;
  --dk-font-headers: 1.75rem;
  --dk-font-text: 1.313rem;

  --mb-font-poster-header: 1rem;
  --mb-font-poster-text: 	0.825rem;

  --font-normal: "Lato", sans-serif, Arial;
  --font-readable: sans-serif;
}
main,header{
  background-color: var(--white);
}
h1{
  font-size: var(--mb-font-headers-biggest);
}
h2,h3,h4,h5{
  font-size: var(--mb-font-headers);
  display: grid;
  align-items: center;
}
p{
  font-size: var(--mb-font-text);
}
h1,h2,h3,h4,h5{
  font-family: var(--font-normal);
}
p{
  font-family: var(--font-readable);
}
i, button{
  color: var(--black);
}
.display-none{
  display: none;
}
:disabled{
  opacity: 0.4;
}

/* ----- Header -----*/
header{
  position: sticky;
  top: 0;
  z-index: 1000;
}
.header{
  height: 111px;
  width: 100%;
  background: var(--blue);
  box-shadow: rgba(99, 99, 111, 0.2) 2px 7px 18px 0px;
}
.scrolled{
  opacity: 0.9;
  transition: all 0.5s;
}
.logo_container{
  display: flex;
  float: left;
  align-items: center;
  padding: 30px 0 0 20px;
  transition: all 0.25s;
}
.logo_text{
  font-family: var(--font-normal);
  color: var(--black);
  font-size: var(--mb-font-headers);
}
.logo_text.scrolled{
  color: var(--black);
}
/* ----- Header NAV Bar-----*/
nav{
  min-width: 270px;
  max-width: 323px;
  height: 311px;
  position: relative;
}
.header_nav.scrolled{
  opacity: 1;
}
.header_nav{
  margin-top: 60px;
  padding-top: 36px;
  position: absolute;
  right: 0px;
  transform: translateY(-200%);
  transition: all 0.2s;
}
nav a{
  color: var(--black);
  font-size: var(--mb-font-headers);
  margin: 20px;
  padding: 20px 20px 10px 0px;
}
nav ul li{
  text-decoration: none;
  background-color: var(--white);
  padding: 20px;
  font-family: var(--font-readable);
  box-shadow: rgba(0, 0, 0, 0.15) 0.25px 1.95px 2.6px;
}
nav a:hover,.hamburger:hover{
  color: rgb(15, 31, 30, 0.85);
}
nav ul li:hover{
  text-decoration: underline 3px;
  text-underline-offset: 5px;
}
.triangle-nav{
  position: absolute;
  background-color: var(--white);
  width: 50px;
  height: 50px;
  z-index: 1000;
  top: 20px;
  right: 13px;
  transform: rotate(45deg);
}
.nav-selected{
  margin-top: -10px;
  width: 10px;
  height: 40px;
  background-color: var(--black);
  position: absolute;
  left: 0px;
}
.showMenu{
  transform: translate(0);
}
.hamburger{
  position: absolute;
  top: 40px;
  right: 25px;
  font-size: 2rem;
  background-color: var(--blue);
  border: none;
  cursor: pointer;
}
.icon-close{
  display: none;
}
.cta-header_container{
  display: none;
}
/* -----Todays Post-----*/
.index-main-header{
  padding: 25px 0 0 25px;
}
.post-of-today_container{
  padding: 25px;
  position: relative;
}
.post-of-today_img-container{
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 300px;
}
.post-of-today_text-container{
  height: 100%;
  padding: 25px;
  background-color: #fff;
  color: var(--black);
  box-shadow: 0px 2px 10px rgba(128, 128, 128, 0.352);
}
.text{
  font-family: var(--font-readable);
  font-size: var(--mb-font-text);
  padding: 10px 0 0 0 ;
  max-height: 400px;
  display: -webkit-box;
  -webkit-line-clamp: 17;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: normal;


}
.cta-read-more-desktop{
  display: none;
}
/* -----Carousel Main Page-----*/
.latest-posts_container{
  position: relative;
}
.carousel_container ul{
  padding: 15px 25px;
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  transition: transform 0.5s ease-in-out;
  gap: 30px;
  margin-bottom: 33px;
}

.cta-latest-posts{
  width: 50px;
  height: 100px;
  background-color: rgba(246, 240, 231, 0.923);
  cursor: pointer;
  border: none;
  font-size: var(--dk-font-text);
  box-shadow: var(--box-shadow);
  position: absolute;
  top: 50%;
}
.cta-latest-posts:hover{
  background-color: rgb(242, 230, 212);
}
.cta-next-post{
  right: 0px;
}
.cta-last-post{
  left: 0px;
}
/* -----Posts Main Page-----*/
.index-headers{
  padding: 33px 25px;
  font-size: var(--mb-font-headers);
}
.container-asia{
  margin-bottom: 33px;
}
/* -----Posts General-----*/
.post_container, .carousel-post_container{
  position: relative;
  width: 100%;
  max-width: 400px;
  height: 420px;
  padding: 25px;
  background-color: #fff;
  box-shadow: var(--box-shadow);
  color: var(--black);
  border-radius: 2px;
}
.carousel-post_container{
  min-width: 350px;
}
#carousel-li{
  transition: transform 0.5s ease-in-out;
}
.post_container:hover, .carousel-post_container:hover{
  cursor: pointer;
  background-color: #f6f6f6;
  box-shadow: 0px 6px 10px rgba(128, 128, 128, 0.352);
}
.post_img{
  width: 100%;
  height: 237px;
  background-position: center;
  object-fit: cover;
  object-position: center;
  background-repeat: none;
  border-radius: 2px;
  box-shadow: var(--box-shadow);
}
.post_title{
  font-family: var(--font-normal);
  font-size: var(--mb-font-poster-header);
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  padding:4px 0 2px 0;

}
.post_text{
  padding-top: 4px;
  font-family: var(--font-readable);
  font-size: var(--mb-font-poster-text);
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}
.post-read-more{
  font-size: var(--mb-font-poster-header);
  float: right;
  position: absolute;
  bottom: 15px;
  right: 25px;
  padding-top: 6px;
}
.post-read-more:hover{
  text-decoration: underline;
}
/* -----List Of Posts Page-----*/
.list-of-posts-header{
  display: none;
}
.form_container{
  padding: 33px 25px 25px 25px;
}
.form-list-of-posts > *{
  display: flex;
  line-height: 40px;
}
.search-input{
  width: 100%;
  padding: 10px 0 10px 50px;
  font-size: var(--mb-font-headers);
  border-width: 2px solid var(--black);
  border-radius: 2px;
  color: var(--black);
}
.search-icon{
  border: none;
  background-color: #fff;
  position: absolute;
  top: 157px;
  left: 45px;
  font-size: var(--mb-font-headers);
  color: var(--black);
}
[type="checkbox"]{
  opacity: 0;
}
[type="checkbox"] + label{
  padding: 8px 0 0 40px;
  position: relative;
  cursor: pointer;
  display: block;
  color: var(--black);
}
[type="checkbox"] + label::before{
  width: 31px;
  height: 31px;
  border-radius: 50%;
  background-color: #fff;
  content: "";
  position: absolute;
  left: -10px;
  top: 10px;
  border: 1px solid var(--black);
}
[type="checkbox"]:checked + label::after{
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background-color: var(--black);
  content: "";
  position: absolute;
  left: -5px;
  top: 15px;
  border: 1px solid var(--black);
}
[type="checkbox"]:checked + label{
  font-weight: 900;
}
.all-posts_container{
  padding: 0 25px;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(280px, 1fr));
  gap: 25px;
  place-items: center;
}
.all-posts-cta_container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 33px 0px 50px 0;
}
.load-more-cta{
  margin-top: 20px;
  padding: 15px 40px;
  color: var(--black);
  background-color: var(--yellow);
  box-shadow: var(--box-shadow);
  border: none;
  font-size: var(--mb-font-headers);
  cursor: pointer;
}
/* ----- Footer -----*/
.footer_container{
  box-shadow: 0px -18px 10px -20px rgba(0,0,0,0.5);
  height: 279px;
  width: 100%;
  background-color: var(--blue);
}
.footer-nav_container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  font-family: var(--font-readable);
  font-size: var(--mb-font-headers);
  padding-top: 40px;
}
.footer-nav{
  padding: 20px;
  cursor: pointer;
  color: var(--black);
}
.footer-logo_container{ 
  font-size: var(--mb-font-headers);
  margin-top: -10px;
}
/* ----- About Us Page -----*/
.img_container{
  padding-top: 25px;
  background-color: var(--white);
}
.about-img{
  display: grid;
  margin: 0px auto 0 auto;
  width: 100%;
  max-width: 350px;
}
.about_container{
  padding: 0 25px 25px 25px;
}
.about_container p{
 padding-bottom: 8px;
}
.about-h1{
  padding: 18px 0px 8px 0px;
}
.about-other-headers{
  padding: 18px 0px 0px 0px;
  margin-bottom: 8px;
}
.about-icon{
  font-size: 0.5rem;
  margin: 5px 5px;
  vertical-align: top;
}
.about-text-strong{
  line-height: 50px;
  font-size: 1.1rem;
}
.about-us_text-hidden{
  display: none;
}
/* ----- Every Page -----*/
.mobile-hidden::after{
  display: none;
}
/* ----- Contact Us Page -----*/
.contact_container{
  padding: 25px;
  display: flex;
  flex-direction: column;
}
.contact-img_container{
  display: none;
}
.contact-paragraph{
  margin: 18px 0 28px 0;
}
.form-contact > *{
  display: flex;
  flex-direction: column;
}
.input{
  cursor: pointer;
  border: 0;
  border-bottom: 3px solid var(--black);
  background-color: var(--white);
  min-width: 250px;
  max-width: 400px;
  height: 20px;
  padding: 15px;
  margin-bottom: 18px;
  border-radius: 0;
}
.error{
  border-bottom:  3px solid #d02424;
}
.accept{
  border-bottom:  3px solid #21d07e;
}
.error-text{
  margin-top: -10px;
  padding-bottom: 10px;
  color: #d02424;
  font-size: var(--mb-font-text);
  font-family: var(--font-readable);
  font-weight: 500;
}
.form-span-message{
  color: #5b1616;;
  display: inline;
  white-space: nowrap;
}
/* .input:hover{
  border-bottom:  3px solid #072d2d;
} */
.input:focus{
  outline: none;
}
label{
  font-size: var(--mb-font-headers);
  font-family: var(--font-normal);
}
.name{
  max-width: 175px;
}
.email{
  max-width: 300px;
}
.email-error {
  color: #d02424;
}
.subject{
  max-width: 350px;
}
.cta-send{
  margin: 25px 0;
  background-color: var(--yellow);
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  font-size: var(--mb-font-headers);
  box-shadow: 0 2px 5px #0f1f1e26, 0 -2px 5px #0f1f1e18;
}
.cta-send:hover{
  background-color: rgb(236, 229, 219);
}
.submit-success_container{
  width: 100%;
  height: 300px;
  border: #18da63 5px solid;
  border-radius: 5px;
  color: #18da63;
  padding: 25px;
}
.submit-success_text{
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;  
  align-items: center;
  width: 100%;
  height: 100%;
}
.submit-success_text-icon i{
  font-size: var(--dk-font-headers-biggest);
  color: #18da63;
}
/* ----- Error When Fetching on Main -----*/
.errorOnPage{
  display: grid;
  background-color: var(--white);
  grid-template-rows:1fr 1fr 1fr;
  place-content: center;
  color: #c62525;
}
.errorOnPage div{
  margin-top: 50px;
  padding: 50px;
  min-width: 250px;
  width: 100%;
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--mb-font-headers-biggest);
  border: 10px solid #c62525;
  color: #c62525;
}
/* ----- Specifics Page -----*/
.specifics-all_container{
  padding: 25px;
}
.specifics-text_container{
  padding: 18px 0 0 0;
}
.specifics-text_container h2,.specifics-text_container h3,.specifics-text_container h4,.specifics-text_container h5,.specifics-text_container h6{
  font-size: var(--mb-font-headers);
  font-family: var(--font-normal);
  padding: 18px 0;
}
.specifics-text_container h3 p{
  font-size: var(--mb-font-text);
  font-family: var(--font-readable);
  font-weight: 500;
  padding: 8px 0;
}
.specifics_title{
  font-size: var(--mb-font-headers-biggest);
}
.specifics-main-img{
  cursor: pointer;
  padding-top: 25px;
  width: 100%;
  background-position: center;
  background-repeat: none;
  border-radius: 2px;
  box-shadow: none;
}
.specifics-other-img_container{
  cursor: pointer;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 25px 0 0 0; 
}
.specifics-other-img_container img:first-child{
  grid-column: 1 / -1;
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.specifics-other-img_container img:nth-child(2),.specifics-other-img_container img:nth-child(3){
  width: 100%;
  height: 150px;
  object-fit: cover;
}
.specifics-other-img_container img:nth-child(2){
  grid-column: 1 / -3;
}
.specifics-other-img_container img:nth-child(3){
  grid-column: 3/ -1;
}
.feedback_container{
  width: 100%;
  padding: 25px;
  background-color: #fff;
}
.feedback_text{
  padding: 18px 0;
}
.feedback-cta_container{
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 25px 0;
}
.feedback-btn{
  font-size: var(--mb-font-headers);
  border: none;
  box-shadow: var(--box-shadow);
  padding: 10px 80px;
}
.cta-like{
  background-color: #18da63;
}
.cta-dislike{
  background-color: #c62525;
}
.enlarge_container{
  z-index: 10001;
  position: fixed;
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #0f1f1ef0;
}
.enlarge_container img{
  position: absolute;
  width: 80%;
  height: 60%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: contain;
  box-shadow: none;
}
.enlarge-icon-close{
  color: var(--yellow);
  cursor: pointer;
  font-size: 3rem;
  position: absolute;
  padding: 10px;
  top: 12%;
  right: 15px;
}
.enlarge-icon-close:hover{
  font-size: 3.2rem;
}
.specifics-loading_container{
  width: 100%;
  height: 700px;
}
.specifics-loading_container div{
  margin-top: 20px;
  padding-top: 13px;
}
.specifics_img{
  width: 100%;
  height: 300px;
  margin-bottom: 20px;
}

/* ----- Skeletons Posts -----*/
.loading{
  background-color: var(--loading-color);
  background: linear-gradient(
    120deg,
    rgba(240,240,240, 0) 45%,
    rgba(240,240,240, .67) 55%,
    rgba(240,240,240, 0) 65%
  ) var(--loading-color);
  background-size: 250%, 100%;
  animation: 1.5s loading linear infinite ;
}
.loading-title{
  width: 40%;
  height: 20px;
  border-radius: 2px;
  margin-bottom: 25px;
}
.loading-text:last-child{
  width: 85%;
  margin-bottom: 0px;
}
@keyframes loading {
  0%{
    background-position-x: 110% ;
  }
  100%{
    background-position-x:0%;
  }
}
.loading_container{
  padding: 25px;
  display: flex;
  align-items: center;
  gap: 25px;
  justify-content: center;
  width: 100%;
  height: 500px;
}
.loading_post{
  padding: 25px;
  background-color: #fff;
  width: 100%;
  height: 350px;
  margin-bottom: 15px ;
}
.loading_img{
  width: 100%;
  height: 150px;
  margin-bottom: 25px;
}
.loading-text{
  width: 100%;
  height: 10px;
  border-radius: 2px;
  margin-bottom: 18px;
}






















/* ----------------------------Media-Queries---------------------------- */

@media (min-width:834px){
  h1{
    font-size: var(--dk-font-headers-biggest);
  }
  h2,h3,h4,h5{
    font-size: var(--dk-font-headers);
  }
  p{
    font-size: var(--dk-font-text);
  }
  .lined-header::after{
    position: absolute;
    background-color: var(--black);
    content: "";
    height: 1.2px;
    right: 0px;
    left: 0px;
    vertical-align: middle;
  }
  .header-span{
    background-color: var(--white);
    width: max-content;
    z-index: 3;
  }


  /* ----- HOME -----*/
  .logo_container{
    padding: 15px 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .logo{
    width: 80px;
    height: 80px;
  }
  .logo_text{
    margin-left: 17px;
    font-size: var(--dk-font-headers);
  }

    /* ----- HOME NAV Bar-----*/
  nav{
    display: none;
   }
  .cta-header_container{
    float: right;
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-right: 50px;
    align-items: center;
    margin-top: 40px;
  }
/* -----Todays Post-----*/
.index-main-header{
  display: none;
}
.post-of-today_container{
  padding: 50px 50px 10px 50px;
  position: relative;
}
.post-of-today_img-container{
  background-size: cover;
  background-position: center;
  width: 80%;
  height: 500px;
}
.post-of-today_text-container{
  height: 410px;
  padding: 25px; 
  overflow: hidden;
  width: 400px;
  position: absolute;
  top: 95px;
  right: 50px;
}
.text{
  font-size: var(--mb-font-text);
  max-height: 335px;  
}
.cta-read-more-mobile{
  display: none;
}
/* -----Carousel Main Page-----*/
.carousel_container ul{
  overflow: hidden;
}
/* -----Posts Main Page-----*/
.index-headers{
  padding: 25px 50px;
  font-size: var(--dk-font-headers);
}
 /* ----- Footer -----*/
.footer_container{
  height: 200px;
}
.footer-nav_container{
  float: right;
  align-items: flex-end;
  gap: 0;
  padding-top: 40px;
  margin-right: 30px;
}
.footer-logo_container{ 
  padding-top: 35px;
}
/* ----- About Us Page -----*/
.about-img{
  margin: -10px 0 0 0;
  width: 430px;
  height: 550px;
  max-width: 600px;
  padding: 0 50px 0 0px;
}
.about_container{
  margin-top: 0px;
  padding: 30px 50px 32px 50px;
}
.about-us_container{
  display: flex;
  margin-bottom: 10px;
}
.about-us_text{
  display: flex;
  flex-direction: column;
}
.about_container p{
  padding-bottom: 17px;
}
.about-h1{
  display: grid;
  align-items: center;
  padding: 10px 0px 17px 0px;
}
.about-h1::after{
  position: absolute;
  z-index: 2;
  background-color: var(--black);
  content: "";
  height: 1.2px;
  right: 0px;
  left: 530px;
  vertical-align: middle;
}
.about-other-headers{
  padding: 27px 0px 17px 0px;
  margin-bottom: 17px;
}
.about-text-strong{
  font-size: 1.4rem;
}
/* ----- Contact Us Page -----*/
.contact_container{
  padding: 50px;
  flex-direction: row;
}
.contact-img_container{
  margin-top: 15px;
  display: block;
}
.contact_img{
  width: 100%;
  min-height: 300px;
  max-height: 505px;
}
.contact_text{
  padding-left: 50px;
}
.error-text p{
  font-size: var(--mb-font-text);
}
.cta-send{
  margin: 25px 0;
  height: 50px;
  width: 300px;
}
.submit-success_container{
  height: 200px;
  padding: 50px;
}
  /* ----- Posts In General-----*/ 
  .post_container{
    width: 376px;
    height: 427px;
    padding: 10px;
    background-color: var(--white);
    box-shadow: none;
  }
  .carousel-post_container{
    width: 306px;
    height: 427px;
    padding: 10px;
    background-color: var(--white);
    box-shadow: none;
  }
  .post_img{
    width: 100%;
    height: 241px;
    object-fit: cover;
    border-radius: 0px;
  }
  .post_title{
    font-size: var(--dk-font-text);
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    padding:4px 0 4px 0;
  }
  .post_text{
    font-size: var(--mb-font-poster-header);
  }
/* -----List Of Posts Page-----*/
.list-of-posts-header{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}
.list-of-posts-header::after{
  position: absolute;
  z-index: 2;
  background-color: var(--black);
  content: "";
  height: 1.2px;
  right: 0px;
  left: 0px;
  vertical-align: middle;
}
.form_container{
  padding: 33px 25px 25px 25px;
  display: flex;
  justify-content: center;
}
.checkbox_container{
  float: left;
}
.search-input{
  width: 359px;
}
.search-icon{
  padding: 10px 50px 9px 50px;
  border: 2px solid var(--black);
  border-radius: 2px;
  background-color: var(--black);
  position: absolute;
  cursor: pointer;
  top: 34.75%;
  left: 62%;
  transform: translate(-50%, -50%);
}
.search-icon i {
  color: var(--white);
}
.search-input{
  padding-left: 20px;
}

[type="checkbox"] + label{
  padding: 8px 0 0 25px;
  padding-right: 20px;
}
[type="checkbox"] + label::before{
  left: -15px;
  top: 12px;
}
[type="checkbox"]:checked + label::after{
  left: -10px;
  top: 17px;
}
.all-posts_container{
  padding: 0 50px;
  grid-template-columns: repeat(auto-fit,minmax(376px, 1fr));
}
/* ----- Skeletons Posts -----*/
.loading_post{
  max-width: 400px;
  height: 380px;
}






/* ----- Specifics Page -----*/
.specifics-all_container{
  padding: 50px;
}
.specifics-all-text{
  display: inline;
}
.specifics-text_container{
}
.specifics-text_container p{
  padding: 0px 0 0 0px;
}
.specifics-text_container h2,.specifics-text_container h3,.specifics-text_container h4,.specifics-text_container h5,.specifics-text_container h6{
  font-size: var(--dk-font-headers);
  padding: 10px 0;
}
.specifics-text_container h3 p{
  font-size: var(--dk-font-text);
}
.specifics_title{
  font-size: var(--dk-font-headers-biggest);
}
.specifics-main-img{
  float: left;
  width: 50%;
  height: 100%;
  max-width: 50%;
  padding: 0 50px 0 0px;
}
.specifics-other-img_container{
  grid-template-columns: repeat(12, 1fr);
  gap: 33px;
}
.specifics-other-img_container img:first-child{
  grid-column: 1 / -9;
  height: 250px;
}
.specifics-other-img_container img:nth-child(2),.specifics-other-img_container img:nth-child(3){
  height: 250px;
}
.specifics-other-img_container img:nth-child(2){
  grid-column: 5 / -5;
}
.specifics-other-img_container img:nth-child(3){
  grid-column: 9 / -1;
}





}





























@media (min-width:1280px){
  /* ----- HOME -----*/
 /* -----Todays Post-----*/
.post-of-today_img-container{
  width: 60%;
}
.post-of-today_text-container{
  height: 400px;
  padding: 25px 35px;
  width: 650px;
}
.text{
  font-size: var(--dk-font-text);
  -webkit-line-clamp: 12;
  padding: 18px 0;
  height: 308px;
}
.cta-read-more-desktop{
  display: block;
  position: absolute;
  cursor: pointer;
  top: 440px;
  left: 20%;
  padding: 15px 80px;
  background-color: var(--yellow);
  border: none;
  font-size: var(--mb-font-headers);
}




  /* ----- Contact Us Page -----*/
.submit-success_container{
  height: 380px;
}
.submit-success_text-icon i{
  font-size: 5rem;
  color: #18da63;
}
  /* ----- About Us Page -----*/
  .about-img{
    width: 530px;
    height: 700px;
  }
  .about-us_text-hidden{
    display: block;
  }
  .mobile-hidden::after{
    display: inline;
  }

  /* ----- Posts In General-----*/ 
  .post_container, .carousel-post_container{
    width: 456px;
    height: 587px;
    padding: 25px;
  }
  .post_img{
    width: 100%;
    height: 321px;
    border-radius: 0px;
  }
  .post_title{
    -webkit-line-clamp: 1;
    padding:4px 0;
  }
  .post_text{
    -webkit-line-clamp: 8;
  }
  .post-read-more{
    bottom: 20px;
  }
  

  /* ----- List Of Posts-----*/ 
  .all-posts_container{
    grid-template-columns: repeat(auto-fit,minmax(416px, 1fr));
  }

  
}
















/* ----- Buttons-----*/
.cta-header{
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--black);
  font-family: var(--font-normal);
  font-weight: 300;
  gap: 8px;
  font-size: var(--dk-font-text);
  cursor: pointer;
  width: 100%;
  width:180px;
  height: 40px;
  background-color: var(--yellow);
  border: none;
  box-shadow: rgba(100, 100, 100, 0.3) 2px 2px 4px 0px;
}
.cta-read-more-mobile{
  cursor: pointer;
  margin-top: 18px;
  width: 100%;
  padding: 20px;
  background-color: var(--yellow);
  font-size: var(--mb-font-headers);
  border: none;
  bottom: 0;
  box-shadow: var(--box-shadow);
}
.cta-read-more-mobile:hover, .load-more-cta:hover, .all-posts-cta:hover, .cta-header:hover, .cta-read-more-desktop:hover{
  background-color: rgb(233, 227, 217);
}
.all-posts-cta{
  width: 150px;
  padding: 10px;
  cursor: pointer;
  border: none;
  box-shadow: var(--box-shadow);
  color: var(--black);
  background-color: var(--yellow);
  font-size: var(--mb-font-headers);
}





/* ----- Animation-----*/
