*{
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: sans-serif, Arial, Helvetica,;
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
}
:root{
  --white: #F5F6F1;
  --blue: #77A8AC;
  --black: #0F1F1E;
  --mb-font-headers-biggest: 1.75rem;  
  --mb-font-headers: 1.313rem;
  --mb-font-text-bigger: 1rem;
  --mb-font-text: 0.75rem;

  --dk-font-headers: 2.313rem;
  --font-normal: "Lato", sans-serif, Arial;
  --font-readable: sans-serif;
}



/* ----- HOME -----*/
.header{
  height: 111px;
  width: 100%;
  background: var(--blue);
  box-shadow: rgba(99, 99, 111, 0.2) 2px 7px 18px 0px;
  position: fixed;
}
.header.scrolled{
  background: rgba(119, 168, 172, 0.9);
  transition: all 0.5s;
}
.logo_container{
  display: flex;
  align-items: center;
  padding: 30px 0 0 20px;
  transition: all 0.25s;
}
.logo_text{
  font-family: var(--font-normal);
  color: var(--white);
  font-size: var(--mb-font-text-bigger);
}
.logo_text.scrolled{
  color: var(--black);
}


nav{
  width: 323px;
  height: 311px;
  position: relative;
}
nav.scrolled{
  background: rgb(245, 246, 241, 0.7);
  transition: all 0.5s;
}
.header_nav{
  padding-top: 36px;
  float: right;
  transform: translateY(-200%);
  transition: all 0.2s;
}
nav a{
  color: var(--black);
  font-size: var(--mb-font-headers);
  margin: 20px;
}
nav ul li{
  text-decoration: none;
  background-color: var(--white);
  padding: 20px;
  font-family: var(--font-readable);
}
nav ul li:hover{
  text-decoration: underline;
}

.nav-selected{
  margin-top: -10px;
  width: 10px;
  height: 40px;
  background-color: var(--black);
  position: absolute;
  left: 0px;
}

.showMenu{
  transform: translate(0);
}


.hamburger{
  position: absolute;
  top: 40px;
  right: 25px;
  font-size: 2rem;
  background-color: var(--blue);
  border: none;
  cursor: pointer;
}
.icon-close{
  display: none;
}




/* ----------------------------Media-Queries---------------------------- */

@media (min-width:834px){
  /* ----- HOME -----*/
  .logo_container{
    padding: 15px 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .logo{
    width: 80px;
    height: 80px;
  }
  .logo_text{
    margin-left: 17px;
    font-size: var(--dk-font-headers);
  }
  nav{
    display: none;
   }

}






@media (min-width:1280px){
  /* ----- HOME -----*/


}